body {
  // background-color: black;
}


.error {
  border-bottom: 1px solid red ;
}

.error-message {
  color: red !important;
  font-size: 8px;
  position: absolute;
  right: 9%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
